.text-center {
    text-align: center;
}

.ml-3 {
    margin-left: 0.75rem;
}

.-ml-px {
    margin-left: -1px;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mt-8 {
    margin-top: 2rem;
}

.ml-12 {
    margin-left: 3rem;
}

.-mt-px {
    margin-top: -1px;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.-mr-2 {
    margin-right: -0.5rem;
}

.widgth-120 {
    width: 120px;
}

.edit {
    color: #3c8dbc;
    padding: 7px 8px 6px 11px;
    border-radius: 24px;
}

.edit:hover {
    color: #00a65a;
    background: #cbcccd;
}

.delete:hover {
    color: red;
    background: #cbcccd;
}

.delete {
  /* color: red; */
  padding: 6px 10px 6px 10px;
  border-radius: 24px;
}

.float-right {
    float: right;

}
